@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.navbar {
    background-color: #111 ;
    padding: 15px 0;
}

.navbar-brand, .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar-nav .nav-link.active {
    color: #fff ;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.nav-link:hover {
    color: #ccc ;
}


.list-unstyled li {
    margin-bottom: 10px;
}

.list-unstyled li a {
    color: #007bff; 
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 0px transparent; 
}


.list-unstyled li a:hover {
    color: #00d4ff; 
    text-decoration: none;
    
    text-shadow: 0 0 8px #007bff, 
                 0 0 15px #007bff;
    filter: brightness(1.2);
}