@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #000; 
}


.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2; 
}


.hero-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: -1;
}

.content-wrapper {
    position: relative;
    z-index: 1;
}


.logo-img {
    width: 60px;
    filter: brightness(2);
    margin-right: 10px;
}


.hero-main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-main h1 {
    font-size: clamp(2rem, 8vw, 5rem); 
    font-weight: 700;
    letter-spacing: 15px;
    margin-bottom: 10px;
}

.hero-main p {
    font-size: 1.2rem;
    letter-spacing: 5px;
    margin-bottom: 30px;
}


.btn-prada {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 12px 40px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s;
}

.btn-prada:hover {
    background: white;
    color: black;
}


.alert {
    border-radius: 0; 
    border: none;
    font-weight: bold;
}

.icon-sm {
    width: 20px;
    vertical-align: middle;
}


.navbar {
    background-color: #111 ;
    padding: 15px 0;
}

.navbar-brand, .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar-nav .nav-link.active {
    color: #fff ;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.nav-link:hover {
    color: #ccc ;
}